rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "dg.san999@gmail.com" && request.auth.token.email_verified == true);
    }

    // ===============================================================
    // Rules
    // ===============================================================
    
    match /gallery/{itemId} {
      allow read: if true; // Publicly readable
      allow write: if isAdmin();
    }
    
    match /projects/{projectId} {
      allow read: if true; // Publicly readable
      allow write: if isAdmin();
    }
    
    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }
  }
}
